/* Programmed by Link Kelly (LinkGoesBowling) */
.page {
  text-align: center;
  background: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -21px;
  margin-bottom: 21px;
}
button {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("bowlingPinsBackground.png");
  margin: auto;
}
.buttons {
  text-align: center;
}
img {
  padding: inherit;
  margin:auto;
  width: 500px;
  height: 100px;
  display: block;
  position: relative;
}
.restart-game {
  text-align: center;
  width: 300px;
  height: 100px;
}
.score {
  text-align: center;
  position: absolute;
  top: 70%;
  right: 22%;
}
.shot1{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 20%
}
.shot2 {
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 22%;
}
.shot3{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 25%;
}
.shot4{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 27.5%;
}
.shot5{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 30%;
}
.shot6{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 32.5%;
}
.shot7{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 35.5%;
}
.shot8{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 37.5%;
}
.shot9{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 40.5%;
}
.shot10{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 42.5%;
}
.shot11{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 45.5%;
}
.shot12{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 48%;
}
.shot13{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 50.5%;
}
.shot14{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 53%;
}
.shot15{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 55.5%;
}
.shot16{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 58%;
}
.shot17{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 61%;
}
.shot18{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 63%;
}
.shot20{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 66%;
}
.shot21{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 68.5%;
}
.shot22{
  text-align: center;
  position: absolute;
  top: 68.6%;
  left: 71%;
}
