/* Programmed by Link Kelly (LinkGoesBowling) */
.page {
  text-align: center;
  background: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -21px;
  margin-bottom: 21px;
}
button {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-image: url("bowlingPinsBackground.png");
  margin: auto;
}
.buttons {
  text-align: center;
}
img {
  padding: inherit;
  margin:auto;
  width: 500px;
  height: 100px;
  display: block;
}
.restart-game {
  text-align: center;
  width: 300px;
  height: 100px;
}
